<header class="header-main">
  <div class="container">
      <div class="flex-container flex-justify-between flex-align-center">
          <a href="#" class="logo-main">
              <img src="../../../../../assets/images/logo-pokemon.svg" alt="Pokemon">
          </a><!-- /logo-main -->
          <div class="header__option">
            <span class="header__username">{{ userName }} <i class="material-icons">account_circle</i></span>
            <button class="color-blue font-30 header__exit" (click)="logout()">
                <strong>Exit</strong>
                <i class="material-icons">exit_to_app</i>
            </button>
          </div>                
      </div>
  </div><!-- /container -->
</header>