@import '../../../assets/scss/var-mixins';

.header-main {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 3px rgba($black, .12);
    z-index: 100;
}
.logo-main {
    img {
        width: 130px;
        max-width: none;
    }
}
.header {
    &__option {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        i {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
    &__username {
        padding-right: 20px;
        &:first-letter {
            text-transform: uppercase;
        }
    }

    // Responsive 
    @media ( max-width: 767px ) {
        &__username {
            display: none;
        }
    }
}